* {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 40px;
    font-weight: 900;
    line-height: 20%;
}

h2 {
    font-size: 25px;
    font-weight: 700;
}

h3 {
    font-size: 15px;
}

.date {
    color: grey;
    font-size: 13px;
    line-height: 2%;
}

.negative {
    color: red;
    font-size: 15px;
}

.positive {
    color: green;
    font-size: 15px;
}